.main__endpoint-constructor-wrapper{
    margin-top:60px;
    position:relative;
}

.main__endpoint-constructor-border-position{
    position:absolute;
    top:-9px;
    left:12px;
    display:flex;
}

.main__endpoint-constructor-description{
    user-select:none;
    background-color:var(--primary-theme-endpoint-label-bg);
    color:var(--primary-theme-text-color);
    padding:2px 8px;
    border-radius:var(--primary-theme-border-radius);
    font-size:var(--primary-theme-font-size);
    margin-right:8px;
}

.main__endpoint-constructor-outer-container{
    border:2px solid #777;
    background-color:var(--primary-theme-endpoint-builder-bg);
    border-radius:var(--primary-theme-border-radius);
    display:flex;
    flex-wrap:wrap;
    padding:20px;   
}

.main__endpoint-constructor-outer-recom-container,.main__endpoint-constructor-outer-search-container{
    margin-right:25px;
    min-width:500px;
}

.main__endpoint-constructor-container{
    display:flex;
    align-items:flex-end;
    width:100%;
}

.main__endpoint-constructor-container > div{
    display:flex;
    flex-direction:column;
    position:relative;
    margin-top:30px;
    width:100%;
}

.main__endpoint-constructor-label{
    position:absolute;
    top:-10px;
    left:15px;
    user-select:none;
    background-color:var(--primary-theme-endpoint-label-bg);
    color:var(--primary-theme-text-color);
    padding:2px 8px;
    border-radius:var(--primary-theme-border-radius);
    font-size:var(--primary-theme-font-size);
    transition: var(--label-focus-transition);
}

.main__endpoint-constructor-input{
    border-radius:3px;
    height:35px;
    padding-left:5px;
}

.main__endpoint-constructor-input:focus + .main__endpoint-constructor-label{
    opacity:0;
}

.main__endpoint-constructor-button{
    height:35px;
    width:125px;
    background-color:#298eea;
    color:var(--primary-theme-text-color);
    border:none;
    border-radius:var(--primary-theme-border-radius);
    padding:4px;
    margin-left:2px;
    cursor:pointer;
    font-size:var(--primary-theme-font-size);
}

.main__endpoint-constructor-button:hover{
    background-color:#29adea;
}