.main__endpoint-constructor-wrapper{
    margin-top:60px;
    position:relative;
}

.main__endpoint-constructor-border-position{
    position:absolute;
    top: -16px;
    left:20px;
    display:flex;
    z-index: 10;
}

.main__endpoint-constructor-description,.main__endpoint-constructor-clear-input-btn{
    user-select:none;
    color:var(--primary-theme-text-color);
    padding:8px 16px;
    border-radius:var(--primary-theme-border-radius);
    font-size:var(--primary-theme-font-size);
    margin-right:8px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );  
}

.main__endpoint-constructor-clear-input-btn{
    border:none;
    cursor:pointer;
}

.main__endpoint-constructor-outer-container{
    border:2px solid #777;
    border-radius:var(--primary-theme-border-radius);
    display:flex;
    flex-wrap:wrap;
    padding:20px; 
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );  
}

.main__endpoint-constructor-outer-recom-container,.main__endpoint-constructor-outer-search-container,.main__endpoint-constructor-outer-tracking-user-id-container{
    margin-right:25px;
    min-width:500px;
}

.main__endpoint-constructor-container{
    display:flex;
    align-items:flex-end;
    width:100%;
}

.main__endpoint-constructor-container > div{
    display:flex;
    flex-direction:column;
    position:relative;
    margin-top:30px;
    width:100%;
}

.main__endpoint-constructor-label{
    position:absolute;
    top:-20px;
    left:2px;
    user-select:none;
    color:var(--primary-theme-text-color);
    padding:2px 8px;
    border-radius: 5px 5px 0 0;
    font-size:var(--primary-theme-font-size);
    transition: var(--label-focus-transition);
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );  
}

.main__endpoint-constructor-input{
    border: 2px solid #165093;
    outline: none;
    border-radius:3px;
    height:35px;
    padding-left:5px;
}

.main__endpoint-constructor-input:focus + .main__endpoint-constructor-label{
    background: #165093;
}


.main__endpoint-constructor-button{
    height:35px;
    width:125px;
    background-color:#165093;
    color:var(--primary-theme-text-color);
    border:none;
    border-radius:0 20px 20px 0;
    padding:4px;
    margin-left:-1px;
    cursor:pointer;
    font-size:var(--primary-theme-font-size);
}

.main__endpoint-constructor-button:hover{
    background-color:#29adea;
}