.main{
    display:flex;
    flex-grow:1;
    padding:60px 40px;
}

.main__endpoint-builder{
    width:100%;
    display:flex;
    flex-direction:column;
    position:relative;
}

.main__endpoint-output-inner-container{
    border: 3px solid var(--shallow-blue-color);
    min-height:80px;
    border-radius:var(--primary-theme-border-radius);
    display:flex;
    align-items:center;
    padding:8px 20px;
    background-color: var(--primary-theme-shallow-grey-bg);
}

.main__endpoint-output-border-position{
    position:absolute;
    top:-16px;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    z-index: 10;
}

.main__endpoint-output,.main__endpoint-output--addition{
    font-family:'Fira Mono', monospace;
    color:var(--white-full-opacity-color);
    word-break:break-all;
}

.main__endpoint-output--addition{
    color:var(--shallow-blue-color);
    font-weight:600;
    cursor:pointer;
}

.main__endpoint-output--addition:hover{
    color:var(--deep-blue-color);
}