*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    color:unset;
    list-style-type:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: var(--primary-theme-deep-grey-bg);
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.success-green-background{
    background-color: var(--success-green-color)!important;
}

.btn-hover-background{
    background-color: #e0477c!important;
}

.awaiting-orange-background-color{
    background-color:var(--orange-full-opacity-color)!important;
}

.failure-red-background{
    background-color:var(--failure-red-color)!important;
}

.hidden{
    display:none!important;
}