*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    color:unset;
    list-style-type:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color: purple;
    background-color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.success-green-background{
    background-color: #099633!important;
}

.awaiting-orange-background-color{
    background-color:rgb(255, 115, 0)!important;
}

.failure-red-background{
    background-color:red!important;
}

.hidden{
    display:none!important;
}