.header{
    min-height:var(--header-height);
    background-color:var(--primary-theme-shallow-grey-bg);
}

.header__ul{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.header__li > a{
    cursor:pointer;
    user-select:none;
    height:var(--header-height);
    display:flex;
    align-items:center;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    padding:10px;
    font-weight:700;
    color:var(--primary-theme-text-color);
    font-size:18px;
    border-radius:2px;
    font-family:'Helvetica';
}

.header__li > a:hover{
    background-color:var(--shallow-blue-color);
}