.main__endpoint-test-response-window-container{
    flex-basis:45%;
    margin-top:30px;
    min-width:500px;
    position:relative;
    flex-grow:1;
}

.main__endpoint-test-response-window-border-position{
    position:absolute;
    top:-9px;
    left:12px;
    display:flex;
}

.main__endpoint-test-response-window-description{
    user-select:none;
    background-color:var(--primary-theme-endpoint-label-bg);
    color:var(--primary-theme-text-color);
    padding:2px 8px;
    border-radius:var(--primary-theme-border-radius);
    font-size:var(--primary-theme-font-size);
    margin-right:8px;
}

.main__endpoint-test-response-window{
    border:2px solid #333;
    background-color:var(--primary-theme-response-window-bg);
    border-radius:var(--primary-theme-border-radius);
    padding:20px;
    height:100%;
}

.main__endpoint-test-response-output{
    color:yellow;
    font-family: monospace;
    font-size:var(--primary-theme-font-size);
}