.main__endpoint-test-response-window-container{
    flex-basis:45%;
    margin-top:30px;
    min-width:500px;
    position:relative;
    flex-grow:1;
}

.main__endpoint-test-response-window-border-position{
    position:absolute;
    top:-9px;
    left:12px;
    display:flex;
}

.main__endpoint-test-response-window-description{
    user-select:none;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
    margin-right:8px;
}

.main__endpoint-test-response-window{
    border:2px solid #333;
    background-color:#666;
    border-radius:4px;
    padding:20px;
    height:100%;
}

.main__endpoint-test-response-output{
    color:white;
    font-size:14px;
}