/* General Begins */
:root{
    --header-height:6vh;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    color:unset;
    list-style-type:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.success-green-background{
    background-color: #099633!important;
    /* transition: background-color 0.5s ease-out; */
}

/* Navigation Begins */
.header{
    min-height:var(--header-height);
    background-color:rgba(243,245,246,1.00);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30);
}

.header__ul{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.header__li{
    cursor:pointer;
    height:var(--header-height);
    display:flex;
    align-items:center;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    padding:10px;
    font-weight:700;
    color:#333;
    font-size:18px;
    border-radius:2px;
}

.header__li:hover{
    background-color:#298eea;
    color:white;
}

/* Main Begins */
 .main{
    display:flex;
    flex-grow:1;
    padding:60px 40px;
}

.main__endpoint-builder{
    width:100%;
    display:flex;
    position:relative;
}

.main__endpoint-output-container{
    height:80px;
    width:100%;
    border:2px solid #777;
    background-color:rgb(199, 199, 199);
    border-radius:4px;
    display:flex;
    align-items:center;
    padding:8px 20px;
}

.main__endpoint-output{
}

.main__endpoint-output-border-position{
    top:-9px;
    position:absolute;
    color:white;
    background-color:#298eea;
    border-radius:4px;
    padding:2px 8px;
}

.main__endpoint-output-description{
    left:1rem;
    user-select:none;
    /* color:black; */
    /* top:-22px; */
    /* border-top:2px solid #333;
    border-right:2px solid #333;
    border-left:2px solid #333; */
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}

.main__endpoint-output-clipboard-copy{
    left:22rem;
    cursor:pointer;
    border:unset;
    font-size:16px;
    width:136px;
}

.main__endpoint-output-test{
    left:31rem;
    cursor:pointer;
    border:unset;
    font-size:16px;
    width:109px;
}

