/* General Begins */
:root{
    --header-height:6vh;
    --label-focus-transition: opacity 0.2s ease;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    color:unset;
    list-style-type:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.success-green-background{
    background-color: #099633!important;
}

/* Navigation Begins */
.header{
    min-height:var(--header-height);
    background-color:rgba(243,245,246,1.00);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30);
}

.header__ul{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.header__li{
    cursor:pointer;
    height:var(--header-height);
    display:flex;
    align-items:center;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    padding:10px;
    font-weight:700;
    color:#333;
    font-size:18px;
    border-radius:2px;
}

.header__li:hover{
    background-color:#298eea;
    color:white;
}

/* Main endpoint-output Begins */
 .main{
    display:flex;
    flex-grow:1;
    padding:60px 40px;
}

.main__endpoint-builder{
    width:100%;
    display:flex;
    flex-direction:column;
    position:relative;
}

.main__endpoint-output-outer-container{
}

.main__endpoint-output-inner-container{
    min-height:80px;
    border:2px solid #777;
    background-color:rgb(199, 199, 199);
    border-radius:4px;
    display:flex;
    align-items:center;
    padding:8px 20px;
}

.main__endpoint-output-border-position{
    position:absolute;
    top:-9px;
    left:12px;
    display:flex;
}

.main__endpoint-output-description{
    user-select:none;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
    margin-right:8px;
}

.main__endpoint-output-clipboard-copy{
    cursor:pointer;
    border:unset;
    width:136px;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
    margin-right:8px;
}

.main__endpoint-output-test{
    cursor:pointer;
    border:unset;
    width:109px;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
}

/* Main endpoint-constructor General Begins */
.main__endpoint-constructor-wrapper{
    margin-top:60px;
    position:relative;
}

.main__endpoint-constructor-border-position{
    position:absolute;
    top:-9px;
    left:12px;
    display:flex;
}

.main__endpoint-constructor-description{
    user-select:none;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
    margin-right:8px;
}

.main__endpoint-constructor-outer-container{
    border:2px solid #777;
    background-color:rgb(199, 199, 199);
    border-radius:4px;
    display:flex;
    flex-wrap:wrap;
    padding:20px;   
}

/* Main endpoint-constructor-recom Begins */
.main__endpoint-constructor-outer-recom-container{
    flex-basis:50%;
}

.main__endpoint-constructor-recom-container{
    display:flex;
    align-items:flex-end;
}

.main__endpoint-constructor-recom-container > div{
    display:flex;
    flex-direction:column;
    position:relative;
    margin-top:30px;
}

.main__endpoint-constructor-recom-label{
    position:absolute;
    top:-10px;
    left:15px;
    user-select:none;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
    transition: var(--label-focus-transition);
}

.main__endpoint-constructor-recom-input{
    border-radius:3px;
    height:35px;
    width:400px;
    padding-left:5px;
}

.main__endpoint-constructor-recom-input:focus + .main__endpoint-constructor-recom-label{
    opacity:0;
}

.main__endpoint-constructor-recom-button{
    height:35px;
    width:94px;
    background-color:#298eea;
    color:white;
    border:none;
    border-radius:3px;
    padding:4px;
    margin-left:2px;
    cursor:pointer;
}

.main__endpoint-constructor-recom-button:hover{
    background-color:#29adea;
}

/* Main endpoint-test-response-window begins */
.main__endpoint-test-response-window-container{
    flex-basis:50%;
    margin-top:30px;
    min-width:500px;
    position:relative;
}

.main__endpoint-test-response-window-border-position{
    position:absolute;
    top:-9px;
    left:12px;
    display:flex;
}

.main__endpoint-test-response-window-description{
    user-select:none;
    background-color:black;
    color:white;
    padding:2px 8px;
    border-radius:4px;
    font-size:14px;
    margin-right:8px;
}

.main__endpoint-test-response-window{
    border:2px solid #333;
    background-color:#666;
    border-radius:4px;
    padding:20px;
    height:100%;
}

.main__endpoint-test-response-output{
    color:white;
    font-size:14px;
}



